
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions */

# Environments
# .env
.env/
.venv/
penv/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*