{% extends 'base/base.html' %}

{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}

<div id="aboutus_body">
    <div id="aboutus_header">
        <div id="abt_header_anim">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_5njp3vgg.json" id="abtheader_anim1"
                class="abtheader_animloader" background="transparent" speed="0.25" loop autoplay></lottie-player>
        </div>
        <h1>About Us - VCare</h1>
        <div id="abt_header_anim2">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_xmdlmtgz.json" id="abtheader_anim2"
                class="abtheader_animloader" background="transparent" speed="0.25" loop autoplay></lottie-player>
        </div>
    </div>

    <div id="aboutus_content_moto">
        <h5>&#x2B16; &#x2B16; Our MOTO & Gusto &#x2B16; &#x2B16;</h5>
        <br>
        <p>We the Vcare family helps you to cherish your life with no tension about your health<br> and lets you live
            your every moment of your life with happy face.<br> Our bonding and support will always blossom your minds
            and claim down any dis-ease.</p>
    </div>

    <div id="aboutus_promises">
        <h5>&#x2B16; &#x2B16; Our Promises &#x2B16; &#x2B16;</h5>
        <br>
        <div id="promises_container">
            <div class="promise_div">
                <p class="promise_card">We promise to aid you with all the resources and experiences that we have.</p>
                <p class="promise_card pcard_right">We promise to provide you with the help with ease.</p>
            </div>
            <div class="promise_div">
                <p class="promise_card">We promise to have least third party involvement for online appointment
                    bookings.</p>
                <p class="promise_card pcard_right">We promise to have your satification and reliefs.</p>
            </div>
            <div class="promise_div">
                <p class="promise_card">We promise to improvise ourself with the latest informations and updations for
                    the poeple.</p>
                <p class="promise_card pcard_right">We promise to consider the requests and offers and suggests with
                    higher priority and much more.</p>
            </div>
        </div>
    </div>

    <div id="aboutus_pioneers">
        <h5>&#x2B16; &#x2B16; Our Pioneers &#x2B16; &#x2B16;</h5>
    </div>

    <center>
        <div class="abtus_pioneerslider">
            <div class="card user_card">
                <div class="img-wrapper"><img src="{% static 'images/avatar_1.jpg' %}" alt="Pioneer 01"
                        class="abtus_pimg" /></div>
                <div class="card-body">
                    <h5 class="card-title">Sajo Sam</h5>
                    <div class="abtus_pdata">
                        <p class="card-text"><b>Qualification: </b><br>BCA Graduate</p>
                        <p class="card-text"><b>GitHub: </b><br><a class="abtus_plinks-redirect"
                                href="www.linkedin.com/in/sanio-luke-sebastian-7b48921b0">https://www.linkedin.com/in/sajo-sam-337819178/</a>
                        </p>
                        <p class="card-text"><b>Linked-In: </b><br><a class="abtus_plinks-redirect"
                                href="https://github.com/sajosam/">https://github.com/sajosam/</a></p>
                        <p class="card-text abtus_plinks-redirect"><b>Gmail: </b><br>sajo2023b@mca.ajce.in</p>
                    </div>
                </div>
            </div>

            <div class="card user_card">
                <div class="img-wrapper"><img src="{% static 'images/avatar_2.jpg' %}" alt=" Pioneer 01"
                        class="abtus_pimg" /></div>
                <div class="card-body">
                    <h5 class="card-title">Sanio Luke Sebastian</h5>
                    <div class="abtus_pdata">
                        <p class="card-text"><b>Qualification: </b><br>BCA Graduate</p>
                        <p class="card-text"><b>GitHub: </b><br><a class="abtus_plinks-redirect"
                                href="www.linkedin.com/in/sanio-luke-sebastian-7b48921b0">www.linkedin.com/in/sanio-luke-sebastian-7b48921b0</a>
                        </p>
                        <p class="card-text"><b>Linked-In: </b><br><a class="abtus_plinks-redirect"
                                href="https://github.com/SanioLuke">https://github.com/SanioLuke</a></p>
                        <p class="card-text abtus_plinks-redirect"><b>Gmail: </b><br>saniolukesbeastian2023b@mca.ajce.in
                        </p>
                    </div>
                </div>
            </div>

            <div class="card user_card">
                <div class="img-wrapper"><img src="{% static 'images/avatar_3.jpg' %}" alt="Pioneer 01"
                        class="abtus_pimg" /></div>
                <div class="card-body">
                    <h5 class="card-title">Justin V Kalappura</h5>
                    <div class="abtus_pdata">
                        <p class="card-text"><b>Qualification: </b><br>BSC Physics</p>
                        <p class="card-text"><b>GitHub: </b><br><a class="abtus_plinks-redirect"
                                href="https://www.linkedin.com/in/justin-v-kalappura-3aab65213">https://www.linkedin.com/in/justin-v-kalappura-3aab65213</a>
                        </p>
                        <p class="card-text"><b>Linked-In: </b><br><a class="abtus_plinks-redirect"
                                href="https://github.com/SanioLuke">https://github.com/SanioLuke</a></p>
                        <p class="card-text abtus_plinks-redirect"><b>Gmail: </b><br>justin150598@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="card user_card">
                <div class="img-wrapper"><img src="{% static 'images/avatar_4.jpg' %}" alt="Pioneer 01"
                        class="abtus_pimg" /></div>
                <div class="card-body">
                    <h5 class="card-title">Susan Sebastian</h5>
                    <div class="abtus_pdata">
                        <p class="card-text"><b>Qualification: </b><br>BCA Graduate</p>
                        <p class="card-text"><b>GitHub: </b><br><a class="abtus_plinks-redirect"
                                href="https://www.linkedin.com/in/susan-sebastian-347b72156">https://www.linkedin.com/in/susan-sebastian-347b72156</a>
                        </p>
                        <p class="card-text"><b>Linked-In: </b><br><a class="abtus_plinks-redirect"
                                href="https://github.com/susansebastian">https://github.com/susansebastian</a></p>
                        <p class="card-text abtus_plinks-redirect"><b>Gmail: </b><br>susansebastian2023b@mca.ajce.in</p>
                    </div>
                </div>
            </div>

            <div class="card user_card">
                <div class="img-wrapper"><img src="{% static 'images/avatar_5.jpg' %}" alt="Pioneer 01"
                        class="abtus_pimg" /></div>
                <div class="card-body">
                    <h5 class="card-title">Blessy Sajeev</h5>
                    <div class="abtus_pdata">
                        <p class="card-text"><b>Qualification: </b><br>BCA Graduate</p>
                        <p class="card-text"><b>GitHub: </b><br><a class="abtus_plinks-redirect"
                                href="https://www.linkedin.com/in/blessy-sajeev-030854198">https://www.linkedin.com/in/blessy-sajeev-030854198</a>
                        </p>
                        <p class="card-text"><b>Linked-In: </b><br><a class="abtus_plinks-redirect"
                                href="https://github.com/blessysajeev">https://github.com/blessysajeev</a></p>
                        <p class="card-text abtus_plinks-redirect"><b>Gmail: </b><br>blessysajeev2023a@mca.ajce.in</p>
                    </div>
                </div>
            </div>
        </div>
    </center>


    <div id="aboutus_contact">
        <h5>&#x2B16; &#x2B16; Contact Us &#x2B16; &#x2B16;</h5>

        <div id="abtus_cdetails">
            <p>Feel free to email us, about any bugs or problems that you face during the surfing of the website.</p>
            <p><b>Conatct Number : </b> 987-4567-212</p>
            <p><b>Email ID : </b> support@vcare.admin.com</p>
        </div>
        <form id="abtus_cform">
            <input type="text" id="contact_fname" name="contact_fname" placeholder="Type your First name" required />
            <input type="text" id="contact_lname" name="contact_lname" placeholder="Type your Last name" required />
            <input type="email" id="contact_emailid" name="contact_emailid" placeholder="Type your Email Address"
                required />
            <textarea id="contact_msg" name="contact_msg"
                style="padding: 20px; border-radius:5px; max-width: 400px; min-width: 300px; min-height: 150px; max-height: 300px;"
                rows="5" placeholder="Write your queries ...." required></textarea>
            <input type="submit" name="contact_submit_btn" id="contact_submit_btn" />
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script>
        $('.abtus_pioneerslider').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 2,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: false,
            lazyLoad: true,
            responsive: [{
                breakpoint: 768,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
            }, {
                breakpoint: 480,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
            }]
        });
    </script>

    {% endblock %}