{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark" id="main_navbar">
    <div class="container-fluid">
        <img src="{% static 'images/android-chrome-192x192.png' %}" alt="Web Icon" width="30px" height="30px" />
        <a href="{% url 'home' %}" class="navbar-brand">VCare</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>

                <div class="dropdown nav_dropdown">
                    <button class="dropdown-toggle nav-link dropdownMenuButton1" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Quick Predictions</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'heartPred' %}">Heart Disease</a></li>
                        <li><a class="dropdown-item" href="{% url 'liverPred' %}">Indian Liver Patient</a></li>
                        <li><a class="dropdown-item" href="{% url 'diPred' %}">Prima Indian Diabetes</a></li>
                        <li><a class="dropdown-item" href="{% url 'kidneyPred' %}">Kidney Disease</a></li>
                        <li><a class="dropdown-item" href="{% url 'cancerPred' %}">Breast Cancer</a></li>
                    </ul>
                </div>

                <div class="dropdown nav_dropdown">
                    <button class="dropdown-toggle nav-link dropdownMenuButton1" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Services</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <!-- <li><a class="dropdown-item" disabled href="#">Disease Predictions</a></li> -->
                        <li><a class="dropdown-item" href="{% url 'main' %}">Book Appointments</a></li>
                        <li><a class="dropdown-item" disabled href="#">Live Analytics</a></li>
                    </ul>
                </div>
                <a href="{% url 'about' %}" class="nav-item nav-link">About Us</a>
            </div>

            <div class="navbar-nav ms-auto">


                {% if not user.is_authenticated %}

                <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>

                {% else %}

                <div class="dropdown">
                    <button class="dropdown-toggle nav-link dropdownMenuButton1" type="button" id=""
                        data-bs-toggle="dropdown" aria-expanded="false">

                        {{request.session.first_name}}

                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" id="main_navdrop_menuuser">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Premium Subsription</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Help</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Signout</a></li>
                    </ul>
                </div>


                {% endif %}




            </div>
        </div>
    </div>
</nav>